<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
				crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
		{% if title %}
			<title>QApp - {{ title }}</title>
		{% else %}
			<title>QApp</title>
		{% endif %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-3">
		  <a class="navbar-brand ml-5" href="#">QApp</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-5">
			  <li class="nav-item active">
				<a class="nav-link" href="{{ url_for('home') }}">Home</span></a>
			  </li>
			 </ul>
			 <ul class="navbar-nav ml-auto mr-5">
				{% if current_user.is_authenticated %}
				  <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="accountDropdown" 
							role="button" data-toggle="dropdown" aria-haspopup="true" 
								aria-expanded="false">{{ current_user.username }}</a>
					<div class="dropdown-menu" aria-labelledby="accountDropdown">
					  <a class="dropdown-item" href="{{ url_for('submit_question') }}">Submit Question</a>
					  <a class="dropdown-item" href="#">My Questions</a>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" href="{{ url_for('account') }}">Account</a>
					  <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
					</div>
				  </li>
				 
				  
			      <li class="nav-item">
					<a class="nav-link" href="{{ url_for('logout') }}">Logout</span></a>
				  </li>
				{% else %}
				  <li class="nav-item">
					<a class="nav-link" href="{{ url_for('register') }}">Register</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{ url_for('login') }}">Login</span></a>
				  </li>
				  
				{% endif %}
			</ul>
		

		  </div>
		</nav>
		<!-- SHOW FLASHES -->	
		{% with messages = get_flashed_messages(with_categories=true) %}
		  {% if messages %}
			<div class='container d-flex justify-content-center'>
			{% for category, message in messages %}
			  <span class='alert alert-{{ category }}'>{{ message }}</span>
			{% endfor %}
			</div>
		  {% endif %}
		{% endwith %}
		<div class="container">
			{% block contents %}
			
			{% endblock %}
		</div>

	</body>
	<footer>
		<p class="mt-5 mb-3 text-muted text-center">&copy; 2019 - QApp</p>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	</footer>
</html>
